#sub-menu-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-menu{
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    box-sizing: border-box;
    background-color: #6dacffce;
    margin: 10px 0;
    cursor: not-allowed;
}
.sub-menu.success{
    cursor: pointer;
    background-color: #006effce;
}